<div class="mt-4">
  <div class="relative">
    <div class="absolute inset-0 flex items-center" aria-hidden="true">
      <div class="w-full border-t border-gray-200"></div>
    </div>
    <div class="relative flex justify-center text-sm font-medium leading-6">
      <span class="bg-white px-6 text-gray-900">Or continue with</span>
    </div>
  </div>

  <div class="mt-4 flex gap-4">
    <% if Config.omniauth_google_id %>
      <form action="<%= rodauth.omniauth_request_path(:google) %>" role="form" method="POST" class="grow">
        <div class="hidden"><%== rodauth.csrf_tag(rodauth.omniauth_request_path(:google)) %></div>
        <button
          type="submit"
          class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
        >
          <%== render("components/icon", locals: { name: "google", classes: "h-5 w-5" }) %>
          <span class="text-sm font-semibold leading-6">Google</span>
        </button>
      </form>
    <% end %>
    <% if Config.omniauth_github_id %>
      <form action="<%= rodauth.omniauth_request_path(:github) %>" role="form" method="POST" class="grow">
        <%== rodauth.csrf_tag(rodauth.omniauth_request_path(:github)) %>
        <button
          type="submit"
          class="flex w-full items-center justify-center gap-3 rounded-md bg-white px-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
        >
          <%== render("components/icon", locals: { name: "github" }) %>
          <span class="text-sm font-semibold leading-6">GitHub</span>
        </button>
      </form>
    <% end %>
  </div>
</div>
